// Included below are all the defined variables from Bulma
// Modify as needed, removing the !default attribute.

// Colors

$black:        #313131;
$black-bis:    #212d2d;
$black-ter:    hsl(0, 0%, 14%) !default;

$grey-darker:  hsl(0, 0%, 21%) !default;
$grey-dark:    hsl(0, 0%, 29%) !default;
$grey:         hsl(0, 0%, 48%) !default;
$grey-light:   #869CA8;
$grey-lighter: #CECECE;
$grey-lightbis: #bfd3de;

$white-ter:    hsl(0, 0%, 96%);
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;

$orange:       hsl(14,  100%, 53%) !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        hsl(141, 71%,  48%) !default;
$turquoise:    hsl(171, 100%, 41%) !default;
$cyan:         hsl(204, 86%,  53%) !default;
$blue:         hsl(217, 71%,  53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          #D61C1C;

// Typography

$family-sans-serif: "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 800 !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
// 1344px container + 4rem;
$fullhd: 1344px + (2 * $gap) !default;

// Miscellaneous

$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 3px !default;
$radius-large: 5px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;


// The default Bulma derived variables are declared below

$primary: #0DA258;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Invert colors

$orange-invert: findColorInvert($orange) !default;
$yellow-invert: findColorInvert($yellow) !default;
$green-invert: findColorInvert($green) !default;
$turquoise-invert: findColorInvert($turquoise) !default;
$cyan-invert: findColorInvert($cyan) !default;
$blue-invert: findColorInvert($blue) !default;
$purple-invert: findColorInvert($purple) !default;
$red-invert: findColorInvert($red) !default;

$primary-invert: $turquoise-invert !default;
$info-invert: $cyan-invert !default;
$success-invert: $green-invert !default;
$warning-invert: $yellow-invert !default;
$danger-invert: $red-invert !default;
$light-invert: $dark !default;
$dark-invert: $light !default;

// General colors

$background: $black;
$body-background-color: $background;

$border: $grey-lighter !default;
$border-hover: $grey-light !default;

// Text colors

$text: $white;
$text-invert: findColorInvert($text) !default;
$text-light: $grey !default;
$text-strong: $grey-darker !default;

// Code colors

$code: $red !default;
$code-background: $background !default;

$pre: $text !default;
$pre-background: $background !default;

// Link colors

$link: $white !default;
$link-invert: $blue-invert !default;
$link-visited: $purple !default;

$link-hover: $white;
$link-hover-border: $grey-light !default;

$link-focus: $grey-darker !default;
$link-focus-border: $blue !default;

$link-active: $grey-darker !default;
$link-active-border: $grey-dark !default;

// Typography

$family-primary: $family-sans-serif !default;
$family-code: $family-monospace !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

$gap: 16px;

$box-background-color: rgba(51, 64, 71, 0.75);

$label-color: $grey-lighter;
$label-weight: $weight-normal;

$input-background-color: #1B2326;
$input-shadow: none;
$input-placeholder-color: #718187;
$input-color: #A7B4BA;
$input-border-color: transparent;
$input-hover-border-color: transparent;

$navbar-background-color: #111717;
$navbar-height: 5.25rem;
$navbar-item-color: #CBDFEB;
$navbar-item-hover-color: #deeff8;
$navbar-item-hover-background-color: transparent;

$title-color: $white;

$icon-color: $grey-light;
$icon-dimensions-medium: 1.5rem;

$content-heading-color: $title-color;

$progress-bar-background-color: #171A1A;
$progress-value-background-color: $primary;

$table-color: #9EB8C7;
$table-head-cell-color: $grey-lighter;
$table-striped-row-even-background-color: #2d3b3f;
$table-background-color: transparent;
$table-body-background-color: rgba($color: #445669, $alpha: 0.44);
$table-head-cell-border-width: 0 0 1px;
$table-cell-border-width: 0;

$datepicker-background-color: $input-background-color;
$datepicker-item-color: $text;
$datepicker-header-color: $white;
$datepicker-item-hover-background-color: $dark;
$datepicker-item-hover-color: $white;
$datepicker-shadow: none;

$slider-track-background: $input-background-color;
$slider-tick-background: rgba($text, 0.25);
$slider-tick-width: 2px;