.box {
  &--login {
    margin-top: 200px;
  }

  &--register {
    margin-top: 150px;
  }
  
  &--login, &--register {
    .is-grouped {
      margin-top: 28px;

      span {
        margin: 0 20px;
      }
    }
  }
}