.box {
  &--login {
    margin-top: 200px;
  }

  &--register {
    margin-top: 150px;
  }

  &--login, &--register {
    .is-grouped {
      margin-top: 28px;

      span {
        margin: 0 20px;
      }
    }
  }

  &--tournament .button[type='submit'] {
    margin-top: 30px;
  }

  &--stats {
    text-align: center;
    width: 163px;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 7px;
      margin-bottom: 0;
    }

    .title, .subtitle {
      width: 100%;
    }

    .title.is-7 {
      margin-top: 10px;
      color: $grey-lighter;
      font-weight: $weight-normal;
    }
    .subtitle.is-6 {
      color: $white;
      font-weight: $weight-semibold;
      font-size: 14px;
    }
  }

  &--table {
    padding: 30px;
    padding-bottom: 0;
    
    .title {
      font-weight: $weight-normal;
      margin-bottom: 0px;
      background-color: #2d393f;
      padding-bottom: 10px;
      margin-bottom: -20px;
      z-index: 1;
      position: relative;
    }
  }
}