.countdown {
  display: flex;
  justify-content: center;
  
  .block {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .text {
    text-align: center;
  }
  
  .digit {
    color: $white;
    font-size: 30px;
    text-align: center;
  }
}
