.button {
  font-weight: $weight-semibold;
  padding-left: 28px;
  padding-right: 28px;
  height: 2.7rem;

  .icon {
    color: $white;
  }

  &--with-icon {
    height: 0;
    padding: 15px 11px;
  }
}

.buttons.no-margin {
  .button:not(:last-child) {
    margin-right: 0;
  }
  .button {
    margin-right: 0;
    margin-bottom: 0;
  }
  &:last-child {
    margin: 0;
  }
}