.is-centered {
  .field .is-grouped {
    align-items: center;
  }
}

a.is-link:hover {
  text-decoration: underline;
}

.columns.has-large-margin-bottom {
  margin-bottom: 95px;
}

.mg-auto {
  margin: auto;
}